{% extends 'base.html' %}

{% block style %}

    <style>
        #docs{
            width: 100%;
            height: 50vh;
        }

        .cursor{
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
    </style>

{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
            const socket = io();
            const docs = document.querySelector("#docs");
            const user_list_dom = document.querySelector('#user-list')

            docs.addEventListener("input", (event) => {
                socket.emit("docs_change", docs.value)
            })

            socket.on("docs_update", function(data){
                docs.value = data["new_docs"]
            })

            socket.on('update_user_list', function(data){
                user_list_dom.innerHTML = ''
                let user_list = data['user_list']
                for(i = 0; i < user_list.length; i++){
                    let user_id = document.createElement("div")
                    user_id.innerText = user_list[i]
                    user_list_dom.appendChild(user_id)
                } 
            })

            socket.on('connect_error', function(){
                let server_status_element = document.querySelector("#server-status")
                server_status_element.style.color = 'red'
                server_status_element.innerText = "DOWN" 
                docs.style.display = "none"
            })

            socket.on('connect', function(){
                let server_status_element = document.querySelector("#server-status")
                server_status_element.style.color = 'green'
                server_status_element.innerText = "UP"
                docs.style.display = "block"
            })

           /* 
            window.addEventListener("mousemove", (event) => {
                let x = event.clientX;
                let y = event.clientY;
                let coords = {'x': x, 'y': y}

                socket.emit("draw_cursor", coords)
            })

            socket.on("draw_cursor", function(data){
                let cursor = document.getElementById('cursor')
                console.log(data['x'] + "px")
                cursor.style.left = data['x'] + "px"
                cursor.style.top = data['y'] + "px"
            })
                */
    </script>
{% endblock %}

{% block content %}

    <div id="server-status"></div>
    <textarea id="docs"></textarea>
    <div><h4>List of currently connected users:</h4></div>
    <div id="user-list"></div>
{% endblock %}